UI menu.c32
PROMPT 0
TIMEOUT 30
DEFAULT live
MENU TITLE Libertix Installer
LABEL live
    MENU LABEL Install selected Linux distribution (Automatic)
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img @LIBERTIX_NORMAL_KERNEL_ARGUMENTS@
LABEL live-verbose
    MENU LABEL Install (Verbose mode)
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img @LIBERTIX_VERBOSE_KERNEL_ARGUMENTS@
