[Unit]
Description=Libertix automatic Linux installer
After=local-fs.target systemd-udev-settle.service
Wants=local-fs.target systemd-udev-settle.service
Conflicts=getty@tty1.service
Before=getty@tty1.service
ConditionPathExists=/usr/local/sbin/libertix-runner

[Service]
Type=simple
ExecStartPre=/bin/udevadm settle
ExecStart=/usr/local/sbin/libertix-runner
StandardInput=null
StandardOutput=journal
StandardError=journal
Restart=no
TimeoutStartSec=3h
TimeoutStopSec=30min
KillMode=mixed

[Install]
WantedBy=multi-user.target
