PROMPT 0
TIMEOUT 1
DEFAULT live
MENU TITLE Libertix Installer
LABEL live
    MENU LABEL Install Linux Mint (Automatic)
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live toram components quiet splash silent plymouth.ignore-serial-consoles loglevel=3 systemd.show_status=0 console=ttyS0,115200n8 console=tty1
LABEL live-verbose
    MENU LABEL Install (Verbose mode)
    KERNEL /live/vmlinuz
    APPEND initrd=/live/initrd.img boot=live toram components systemd.show_status=1 loglevel=7 console=ttyS0,115200n8 console=tty1
